Source: sambaedu
Section: net
Priority: optional
Maintainer: Denis Bonnenfant <denis.bonnenfant@sambaedu.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://sambaedu.org
#Vcs-Git: https://github.com/SambaEdu/se4.git


Package: sambaedu-config
Architecture: all
Depends:  ${misc:Depends}, dialog, ldap-utils 
Description: scripts et fichiers de configuration Sambaedu.
 Configuration de l'infrastructure serveurs sambaedu. Le kit samba-edu est un  ensemble de scripts et de fichiers de configuration permettant de fournir aux etablissements scolaires une configuration "cle en main" d'un serveur Samba Active Directory DC.

Package: sambaedu-boot-server
Architecture: all
Pre-Depends: sambaedu-config
Depends:  ${misc:Depends}, tftp, ipxe, isc-dhcp-server, apache2
Description: configuration minimale dhcp et tftp permettant la configuration sambaedu et le boot ipxe.
 Assistance a l'installation d'un serveur de fichiers Samba. Le kit samba-edu est un ensemble de scripts et de fichiers de configuration permettant de fournir aux etablissements scolaires une configuration "cle en main" d'un serveur Samba Active Directory DC.

Package: sambaedu-ad-dc
Architecture: all
Depends:  ${misc:Depends}, sambaedu-boot-server
Description: configuration d'une machine virtuelle ou conteneur pour le DC sambaedu.
 Configuration d'un serveur controleur de domaine AD samba. Ce paquet contient des scripts de configuration lxc ou preseed pour creer une machine distincte. Ce paquet sera en erreur tant que le controleur de domaine ne sera pas actif.  Le kit samba-edu est un ensemble de scripts et de fichiers de configuration permettant de fournir aux etablissements scolaires une configuration "cle en main" d'un serveur Samba Active Directory DC.

Package: sambaedu-ad-client
Architecture: all
Depends:  ${misc:Depends}, sambaedu-ad-dc, krb5-user, samba, samba-dsdb-modules, libpam-krb5, libsasl2-modules-gssapi-mit
Description: serveur membre domaine ad
 Ce paquet contient des scripts de configuration pour la mise au domaine sambaedu d'un poste linux. Il prend en charge la configuration de l'authentification centralisée kerberos sur l'ad. 

Package: sambaedu-winbind
Architecture: all
Depends:  ${misc:Depends}, sambaedu-ad-client, winbind, libnss-winbind
Description: utilisateurs winbind
 Ce paquet contient des scripts de configuration pour la mise au domaine sambaedu d'un poste linux. Il prend en charge la configuration l'installation de winbind et de libnss. 


Package: sambaedu-web-common
Architecture: all
Depends:  ${misc:Depends}, php-fpm, php7.0-opcache, php-apcu, apache2-suexec-pristine, sambaedu-ad-client, default-mysql-server, php-htmlpurifier, php-ldap, 
Description: Interface d'administration web
 
