
#!/bin/bash -e

# pose les questions de base pour la  conf sambedu

# on charge le fichier /etc/sambaedu.conf si il existe

. /usr/share/debconf/confmodule
db_capb backup 
. /usr/share/sambaedu/includes/config.inc.sh
. /usr/share/sambaedu/includes/utils.inc.sh
my_network

dhcp_begin_range=$(echo $my_network | sed "s/\.[0-9]*$/.100/")
dhcp_end_range=$(echo $my_network | sed "s/\.[0-9]*$/.200/")
db_set sambaedu/dhcp_begin_range $dhcp_begin_range
db_set sambaedu/dhcp_end_range $dhcp_end_range
#
# Questions interactives
# 

db_input medium sambaedu/dhcp_begin_range || true
db_input medium sambaedu/dhcp_end_range || true  
db_go || true


