#!/bin/bash -e

# pose les questions de base pour la  conf sambedu

# on charge le fichier /etc/sambaedu.conf si il existe

. /usr/share/debconf/confmodule
db_capb backup 
[ ! -e /usr/share/sambaedu/includes/config.inc.sh ] && exit 0
. /usr/share/sambaedu/includes/config.inc.sh
. /usr/share/sambaedu/includes/utils.inc.sh

my_network
priority="medium"

# ldap base dn
if [ -n "$config_ldap_base_dn" ]; then
    db_set sambaedu/ldap_base_dn "$config_ldap_base_dn" || true
else
    db_set sambaedu/ldap_base_dn "dc=${config_domain//./,dc=}" || true
    priority="high"
fi
# people_rdn
if [ -n "$config_people_rdn" ]; then
    db_set sambaedu/people_rdn "$config_people_rdn" || true
else
	config_people_rdn="ou=users"
    db_set sambaedu/people_rdn "$config_people_rdn" || true
    priority="high"
fi

# admin_rdn
if [ -n "$config_admin_rdn" ]; then
db_set sambaedu/admin_rdn "$config_admin_rdn" || true
else
	config_admin_rdn="cn=users"
db_set sambaedu/admin_rdn "$config_admin_rdn" || true
    priority="high"
fi


# ldap admin
if [ -n "$config_ldap_admin_name" ]; then
    db_set sambaedu/ldap_admin_name "$config_ldap_admin_name" || true
else
	priority="high"
fi
# ldap password
if [ -n "$config_ldap_admin_passwd" ]; then
    db_set sambaedu/ldap_admin_passwd "$config_ldap_admin_passwd" || true
else
	priority="high"
fi
# ldap password
if [ -n "$config_se4ad_name" ]; then
    db_set sambaedu/se4ad_name "$config_se4ad_name" || true
else
	if se4ad_name=$(host $config_se4ad_ip | cut -d " " -f5 | sed "s/\.//") ; then
		db_set sambaedu/se4ad_name $config_se4ad_name || true
	else
		db_set sambaedu/se4ad_name se4ad
		priority="high"
		db_fset sambaedu/se4ad_name seen "false"
	fi
fi



db_set sambaedu/action_ad "Configurer et réessayer"
db_fset sambaedu/action_ad seen "false"
db_fset sambaedu/ldap_base_dn seen "false"
db_fset sambaedu/admin_rdn seen "false"      
db_fset sambaedu/ldap_admin_name seen "false"      
db_fset sambaedu/ldap_admin_passwd seen "false"    
db_fset sambaedu/ssh_error seen "false"  

#
# Questions interactives
# 
# config ad
STATE=1
while true ; do 
case $STATE in
    1)
    db_input $priority sambaedu/ldap_base_dn || true
    ;;
    2)
    db_input $priority sambaedu/ldap_admin_name || true
    ;;
    3)
    db_input $priority sambaedu/admin_rdn || true
	;;
    4)
    db_input $priority sambaedu/ldap_admin_passwd || true
	;;
    5)
    db_input $priority sambaedu/se4ad_name || true
    ;;
    *)
    db_get sambaedu/ldap_base_dn
    ldap_base_dn="$RET"
    db_get sambaedu/ldap_admin_name
    ldap_admin_name="$RET"
    db_get sambaedu/admin_rdn
    admin_rdn="$RET"
    db_get sambaedu/ldap_admin_passwd
    ldap_admin_passwd="$RET"
    if  ldapsearch  -xLLL -D "cn=$ldap_admin_name,$admin_rdn,$ldap_base_dn" \
    -b $ldap_base_dn -w "$ldap_admin_passwd" \
    "(&(objectClass=person)(samaccountname=$ldap_admin_name))" -H  ldaps://$config_se4ad_ip >/dev/null 2>&1 ; then
        if  ! ssh -i /etc/sambaedu/id_rsa -q -o "BatchMode=yes" -o "ConnectTimeout=3" root@$config_se4ad_ip exit ; then
			db_input high sambaedu/ssh_error || true
			db_go
			db_fset sambaedu/ssh_error seen "false"
		fi
       	break
    else
    # pb connexion ad ?
    # TODO ajouter un menu de choix d'installatino se4ad ?
        db_input high sambaedu/test_ad || true
        db_go
        db_input high sambaedu/action_ad || true
        db_go
        db_get sambaedu/action_ad
        case $RET in
            "Configurer et réessayer")
            STATE=0
            priority="high"
            db_fset sambaedu/action_ad seen "false"
            db_fset sambaedu/ldap_base_dn seen "false"
            db_fset sambaedu/admin_rdn seen "false"      
            db_fset sambaedu/ldap_admin_name seen "false"      
            db_fset sambaedu/ldap_admin_passwd seen "false"
            db_fset sambaedu/se4ad_name seen "false"      
            ;;
            Quitter)
            db_fset sambaedu/action_ad seen "false"    
            break
            ;;
            *)
            break
            ;;
        esac       
    fi
   ;;
esac
if db_go; then 
   STATE=$(($STATE + 1))
else
   STATE=$(($STATE - 1))
fi
done


