#!/bin/bash -e

# pose les questions de base pour la  conf sambedu

# on charge le fichier /etc/sambaedu.conf si il existe

. /usr/share/debconf/confmodule
db_capb backup 
[ ! -e /usr/share/sambaedu/includes/config.inc.sh ] && exit 0
. /usr/share/sambaedu/includes/config.inc.sh
. /usr/share/sambaedu/includes/utils.inc.sh

# modele de conf par défaut
CONFIGFILE=/etc/sambaedu/sambaedu.conf
if [ ! -e /etc/sambaedu/sambaedu.conf ]; then
	cp -a /usr/share/doc/sambaedu/sambaedu.conf.example $CONFIGFILE
fi
if [ ! -e /etc/sambaedu/sambaedu.conf.d/dhcp.conf ]; then
    cp -a /usr/share/doc/sambaedu/dhcp.conf.example /etc/sambaedu/sambaedu.conf.d/dhcp.conf
fi
get_config
my_network
priority="medium"

# nom de domaine limité à 15 caracteres dérivé du domaine.
if [ -n "$config_samba_domain" ]; then
   db_set sambaedu/samba_domain "$config_samba_domain" || true
else 
   	if [ -n "$my_domain" ]; then
	   	config_samba_domain=${my_domain%%.*}
		db_set sambaedu/samba_domain ${config_samba_domain:0:15}
	else
		priority="high"
	fi  
fi
if [ -n "$config_domain" ]; then
   db_set sambaedu/domain "$config_domain" || true
else 
   	if [ -n "$my_domain" ]; then
	   	config_domain=${my_domain}
		db_set sambaedu/domain ${config_domain}
	else
		priority="high"
	fi  
fi

# increment ip pour se4ad
if [ -n "$config_se4ad_ip" ]; then
   db_set sambaedu/se4ad_ip "$config_se4ad_ip" || true
else
   ip=$((${my_address##*.}+1))
   db_set sambaedu/se4ad_ip "${my_address%.*}.$ip"  || true
   priority="high"
fi
# type serveur
#db_set sambaedu/type_server "$config_type_server"
#
# Questions interactives
# 
# domaine samba
STATE=1
while true ; do 
case $STATE in
   1)
   db_input $priority sambaedu/domain || true
   db_input $priority sambaedu/samba_domain || true
   ;;
   2)
   db_get sambaedu/samba_domain
   if [ ${#RET} -gt 15 ]; then
        db_set sambaedu/samba_domain ${RET:0:15}
        STATE=0
        priority="high"
    	db_input $priority sambaedu/samba_domain_cut || true
   else
        break
   fi
   ;;
   *)
   break
   ;;
esac
if db_go; then 
   STATE=$(($STATE + 1))
else
   STATE=$(($STATE - 1))
fi
done
# conf se4AD
#db_input medium sambaedu/type_server || true
db_input $priority sambaedu/se4ad_ip || true  
db_go || true

# conf reseau

dhcp_begin_range=$(echo $my_network | sed "s/\.[0-9]*$/.100/")
dhcp_end_range=$(echo $my_network | sed "s/\.[0-9]*$/.200/")
db_set sambaedu/dhcp_begin_range $dhcp_begin_range
db_set sambaedu/dhcp_end_range $dhcp_end_range
#
# Questions interactives
# 

db_input $priority sambaedu/dhcp_begin_range || true
db_input $priority sambaedu/dhcp_end_range || true  
db_go || true


