
#!/bin/bash -e

# pose les questions de base pour la  conf sambedu

# on charge le fichier /etc/sambaedu.conf si il existe

. /usr/share/debconf/confmodule
db_capb backup 
. /usr/share/sambaedu/includes/config.inc.sh
. /usr/share/sambaedu/includes/utils.inc.sh
my_network

# nom de domaine limité à 15 caracteres dérivé du domaine.
if [ -n "$config_samba_domain" ]; then
   db_set sambaedu/samba_domain "$config_samba_domain"
elif [ -n "$config_se3domain" ]; then
   db_set sambaedu/samba_domain "$config_se3domain"
   set_config sambaedu config_se3domain
else
   config_samba_domain=${my_domain%%.*}
   db_set sambaedu/samba_domain ${config_samba_domain:0:15}  
fi
# pas besoin de test car la conf reseau est suffisante ? 
db_set sambaedu/domain $my_domain
# increment ip pour se4ad
if [ -n "$config_se4ad_ip" ]; then
   db_set sambaedu/se4ad_ip "$config_se4ad_ip"
else
   ip=$((${my_address##*.}+1))
   db_set sambaedu/se4ad_ip "${my_address%.*}.$ip"  
fi
# type serveur
db_set sambaedu/type_server "$config_type_server"
#
# Questions interactives
# 
# domaine samba
STATE=1
while true ; do 
case $STATE in
   1)
   db_input medium sambaedu/domain || true
   db_input medium sambaedu/samba_domain || true
   ;;
   2)
   db_get sambaedu/samba_domain
   if [ ${#RET} -gt 15 ]; then
        db_set sambaedu/samba_domain ${RET:0:15}
        STATE=0
	db_input medium sambaedu/samba_domain_cut || true
   ;;
   *)
   break
   ;;
esac
if db_go; then 
   STATE=$(($STATE + 1))
else
   STATE=$(($STATE - 1))
fi
done
# conf se4AD
db_input medium sambaedu/type_server || true
db_input medium sambaedu/se4ad_ip || true  
db_go || true
# conf reseau

