#!/bin/sh -e

# pose les questions de base pour la  conf sambedu

# on charge le fichier si il existe

  #!/bin/sh
        CONFIGFILE=/etc/foo.conf
        set -e
        . /usr/share/debconf/confmodule
		. /usr/share/sambaedu/includes/config.inc.sh
        # Load config file, if it exists.
        if [ -e $CONFIGFILE ]; then
            . $CONFIGFILE || true

            # Store values from config file into
            # debconf db.
            db_set sambaedu/se4ad_ip "$config_se4ad_ip"
        fi

        # Ask questions.
        db_input medium sambaedu/se4ad_ip || true
        db_input medium mypackage/bar || true
        db_go || true

  

CONFIGFILE=/etc/sambaedu/sambaedu.conf
if [ -e $CONFIGFILE ]; then
. $CONFIGFILE || true

# Source debconf library.
. /usr/share/debconf/confmodule

# question1
db_input sambaedu/smb4_domain || true
# question1
db_input sambaedu/suffix_domain || true
db_go


# question1
db_input sambaedu/se4adip || true
# question1
db_input sambaedu/se4fsip || true
db_go

