ldap_port="636"
admin_name="Administrator"
people_rdn="CN=users"
groups_rdn="ou=Groups"
rights_rdn="ou=Rights"
parcs_rdn="ou=Parcs"
computers_rdn="CN=computers"
#printersRdn="ou=Printers"
trash_rdn="ou=Trash"

