ldap_port="636"
ldap_admin_name="Administrator"
admin_rdn="cn=users"
people_rdn="ou=utilisateurs"
groups_rdn="ou=Groups"
rights_rdn="ou=Rights"
classes_rdn = "ou=classes"
equipes_rdn = "ou=equipes"
matieres_rdn = "ou=matieres"
projets_rdn = "ou=projets"
delegations_rdn = "ou=delegations"
parcs_rdn="ou=Parcs"
computers_rdn="ou=computers"
equipements_rdn="ou=Equipements"
trash_rdn="ou=Trash"
lang="fr"
se4fs_name="se4fs"
