ldap_port="636"
ldap_admin_name="Administrator"
admin_rdn="cn=users"
people_rdn="ou=users"
groups_rdn="ou=Groups"
rights_rdn="ou=Rights"
parcs_rdn="ou=Parcs"
computers_rdn="ou=computers"
printers_rdn="ou=Printers"
trash_rdn="ou=Trash"
lang="fr"