[global]
       security = ADS
       workgroup = ###_DOMAIN_###
       realm = ###_REALM_###

       log file = /var/log/samba/%m.log
       log level = 1

# performances
       socket options = SO_KEEPALIVE TCP_KEEPIDLE=300 TCP_KEEPINTVL=10 TCP_KEEPCNT=5

# utilisateurs locaux

       idmap config * : backend = tdb
       idmap config * : range = 3000-7999

# domaine sambaedu

       idmap config ###_DOMAIN_### : backend = rid
       idmap config ###_DOMAIN_### : range = 10000-999999
        
       template homedir = /home/%U
       template shell = /bin/bash
       username map = /etc/samba/user.map
       winbind use default domain = yes
       
# imprimantes

        rpc_server:spoolss = external
        rpc_daemon:spoolssd = fork
        spoolss: architecture = Windows x64
        printing = CUPS
[printers]
	    path = /var/spool/samba/
        printable = yes
[print$]
        comment = Driver imprimantes
        path = /var/lib/samba/printers
		force create mode = 0775
		force directory mode = 2775 
		writeable = Yes
        read only = No
		acl_xattr:ignore system acl = yes
		write list =  admin, @"Domain Admins", @"Print Operators"

# partages

[install]
       path = /var/sambaedu/unattended/install
       read only = no
[profiles]
       comment = Users profiles
       path = /home/profiles/
       browseable = No
       read only = No
       force create mode = 0600
       force directory mode = 0700
       csc policy = disable
       store dos attributes = yes
       vfs objects = acl_xattr
[users]
       path = /home/
       read only = no
       force create mode = 0600
       force directory mode = 0700
[progs]
       path = /var/sambaedu/Progs
       read only = no
[classes]
       path = /var/sambaedu/Classes
       read only = no

